@import 'fonts';
@import 'colors';

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: noto-sans;
    background-color: $cream;
    p {
        text-align: justify;
        margin: auto;
    }
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: $french-lilac;
    padding: 14px 16px;
}

#tabBar {
    margin: 0px;
    border: 0px;
    overflow: hidden;
    background-color: $outer-space-crayola;
    
    button {
        background-color: inherit;
        float: left;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: larger;
        font-family: boogaloo;
        transition: 0.2s;

        &:hover {
            background-color: $rich-black-fogra-29-transp;
        }

        &.active {
            background-color: $rich-black-fogra-29;
            color: $pastel-pink;
        }
    }
}

#content-wrap {
    padding-bottom: 4.0rem;
}

.tabContent {
    font-size: larger;
    color: $rich-black-fogra-29;
    display: hide;
    padding: 2rem 10rem 4rem;

    h1 {
        font-family: boogaloo;
        font-size: 28pt;
        color: inherit;
    }

    ol {
        text-align: left;
    }

    pre {
        text-align: left;
    }
}

#input-container {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 24px;

    input {
        height: 100%;
    }

    button {
        height: 100%;
        cursor: pointer;
    }
}

#fixed-height-container {
    width: 400px;
    height: 350px;
    padding: 3px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $outer-space-crayola;
    color: white;

    h2 {
        margin: 0px;
        padding: 3px;
        font-size: large;
    }

    
}

#output-container {
    height: 300px;
    overflow: auto;
    background-color: white;
    color: $rich-black-fogra-29;
    padding-left: 2ex;
}

#footer {
    background-color: $outer-space-crayola;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4.0rem;
}