@import 'fonts';
@import 'colors';

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: NotoSans-Regular;
    p {
        text-align: justify;
        margin: auto;
    }
}

.content {
    margin: 0px 200px 0px 200px;
}

.navbar {
    margin: 0px;
    border: 0px;
    background-color: $color-3;

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            display: inline;
            
            a {
                display: inline-block;
                padding: 8px;
                background-color: $color-3;
            }
        }
    }
}